@import '~/css/framework.scss';

.merge-candidates {
  min-height: 250px;
  min-width: 600px;
  overflow: auto;

  .no-records-available {
    text-align: center;
    color: $color-gray;
  }

  .suggestion,
  .no-translation {
    font-style: italic;
    color: $color-gray;
  }

  .table-header {
    @include ellipsis();
    padding-left: $spacing-default;
    padding-right: $spacing-default;
  }

  $header-height: 40px;

  .merge-header {
    padding-top: $spacing-small;
    margin-bottom: $spacing-small;
    height: $header-height;
    align-items: center;
    display: flex;
    justify-content: space-between;

    &.no-records {
      justify-content: flex-end;
    }
  }

  .candidates-view {
    .candidates-view-header {
      .records-label {
        font-size: $font-small;
        color: $color-gray;
      }

      .header-controls {
        display: flex;
        align-items: center;
        column-gap: $spacing-default;
      }
    }

    .candidates {
      overflow: auto;
      max-height: calc(100vh - $header-height - 2 * $spacing-small - $spacing-default);

      .candidates-column {
        text-align: center;
      }
    }
  }

  .candidate-view {
    .candidate-view-header {
      .navigation-button .icon {
        width: 15px;
        height: 15px;
      }

      .candidate-view-controls {
        display: inline-flex;
        float: right;
        padding: $spacing-small 0;
        height: 30px;
        align-items: center;

        .navigation-button {
          padding-left: $spacing-small;
        }
      }
    }

    .candidate {
      :deep(tr:first-child) {
        text-decoration: underline;
        font-weight: bold;
      }

      .sentence-translate-button {
        text-decoration: underline;
        cursor: pointer;
      }

      .times-column {
        text-align: center;
      }

      .actions-column {
        display: flex;
        justify-content: center;
        column-gap: $spacing-small;
        padding: 5px 0;
      }
    }
  }
}
