.about {
  padding: $spacing-default $spacing-xl;
  background-color: $color-background;
  height: 100vh;

  p {
    margin: 5px 0;
  }

  .about-title {
    font-size: $font-large;
    font-weight: bold;

    .version {
      margin-right: $spacing-small;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    column-gap: $spacing-default;
  }
}
