.header {
    height: 50px;
    padding-right: $padding-small;
    padding-top: $padding-small;
    line-height: 20px;
    display: grid;
    grid-template-columns: 15px 1fr;
    box-sizing: border-box;
    border-bottom: $border-width solid $color-light-gray;
    white-space: nowrap;

    &:not(.is-embedded) {
        padding-left: $padding-large;
    }

    .translation-actions{
        grid-row: 1;
        grid-column: 1;

        .icon-star,
        .icon-star-empty {
            font-size: $font-big;
        }

        .icon-star {
            color: $color-star;
        }
    }

    .translation {
        grid-row: 1;
        grid-column: 2;

        font-size: $font-large;

        .no-translation {
            font-style: italic;
            color: $color-gray;
        }
    }

    .play-text {
        grid-row: 2;
        grid-column: 1;

        .play {
            width: 11px;
            height: 11px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url("~icons/play.svg");
    
            &:hover{
                background-image: url("~icons/play-hovered.svg");
            }
        }
    }

    .origin-holder {
        grid-row: 2;
        grid-column: 2;

        .origin {
            font-size: $font-small;
            color: $color-gray;
            display: inline-block;
            margin-left: 2px;
            outline: none;
            cursor: text;
        }

        .origin-actions {
            font-size: $font-small;
            color: $color-gray;
            display: inline-block;
    
            .link-button-wrapper {
                vertical-align: bottom;
            }
        }
    }
}