.header {
    height: 50px;
    padding-right: $padding-small;
    padding-top: $padding-small;
    line-height: 20px;
    box-sizing: border-box;
    border-bottom: $border-width solid $color-light-gray;
    white-space: nowrap;

    &:not(.is-embedded) {
        padding-left: $padding-large;
    }

    .icon-star,
    .icon-star-empty {
        cursor: pointer;
        font-size: $font-medium;
    }

    .icon-star {
        color: $color-star;
    }

    .translation {
        font-size: $font-large;

        .no-translation {
            font-style: italic;
            color: $color-gray;
        }
    }

    .origin {
        font-size: $font-small;
        color: $color-gray;
        display: inline-block;
        margin-left: 2px;
        outline: none;
        cursor: text;
    }

    .play {
        position: relative;
        top: 0.5px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        background-image: url("icons/play.svg");

        &:hover{
            background-image: url("icons/play-hovered.svg");
        }
    }

    .header-actions {
        font-size: $font-small;
        color: $color-gray;
        display: inline-block;

        .link-button {
            vertical-align: bottom;
        }
    }
}