.password {
  position: relative;

  .reveal-icon {
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 7px;
    color: $color-gray;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-active;
    }
  }

  input {
    padding-right: 2 * $padding-default;
  }
}
