.results {
    margin-top: $margin-small;

    /deep/ tbody {
        tr:hover {
            .word-column .play-icon-holder {
                display: inline-block;
            }
        }

        td {
            padding-left: $padding-default;
        }
    }

    .tags-column {
        overflow: visible;

        .tags-editor {
            vertical-align: middle;
        }
    }

    .source-language-column,
    .target-language-column {
        display: table-cell;
    }

    .last-translated-column {
        .synced-icon {
            font-size: $font-small;
            color: $color-light-gray;
        }
    }

    .translation-column .no-translation {
        font-style: italic;
        color: $color-gray;
    }

    .word-column {
        .word-holder {
            display: inline-block;
        }

        .icon-star,
        .icon-star-empty {
            margin-left: -$margin-small;
            cursor: pointer;
        }

        .icon-star {
            color: $color-star;
        }

        .play-icon-holder {
            display: none;
            .play-icon {
                width: 9px;
                height: 9px;
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;
                background-image: url("~icons/play.svg");
        
                &:hover{
                    background-image: url("~icons/play-hovered.svg");
                }
            }
        }
    }

    .archived-column {
        text-align: center;

        .archive:hover,
        .restore {
            color: $color-error;
        }

        .archive {
            color: $color-gray;
        }
    }

    .no-records-available {
        text-align: center;
        font-style: italic;
    }
}
