
.history {
    padding: 5px 15px 0 15px;

    .results {
        .word-column,
        .translation-column {
            width: 37%;
        }

        .times-column {
            width: 10%;
        }

        .last-translated-column {
            width: 16%;
        }
    }

    .header {
        position: relative;
        box-sizing: content-box;
        float: left;
        width: 100%;

        .title {
            font-size: 1.2em;
            font-weight: bold;
            display: inline;
        }

        .number-selector {
            width: 95px;
            float: right;
        }
    }

    .footer {
        float: right;
        margin-top: 0;
        font-style: italic;
        font-size: 0.9em;
        color: $gray;
    }
}