
.history {
    $history-padding-top: $padding-small;

    padding: $history-padding-top $padding-large 0 $padding-large;

    .grid-holder {
        display: grid;
        grid-column-gap: $padding-large;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr $margin-default;
        max-height: calc(100vh - #{$history-padding-top});

        &.sidebar-visible {
            grid-template-columns: 1fr 30%;
        }

        .results-header {
            grid-row: 1;
            position: relative;
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr auto;

            .tags {
                grid-column: 1;
                display: inline-flex;
                align-items: center;

                .tags-label {
                    font-weight: bold;
                    margin-right: $margin-small;
                }
            }

            .checkbox,
            .columns-customizer,
            .filter-button {
                margin-left: $margin-small;
            }
        }

        .sidebar-header {
            grid-row: 1;
            display: flex;
            align-items: center;

            .icon-cancel {
                margin-right: $margin-small;
                display: block;
                height: 14px;

                cursor: pointer;
                font-size: $font-large;

                &:hover {
                    color: $color-error;
                }
            }

            .title {
                $select-height: 25px;
                line-height: $select-height;
                font-size: $font-large;
                font-weight: bold;
                display: inline;
            }
        }

        .results-holder {
            grid-row: 2;
        }
        
        .sidebar{
            grid-row: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            background-color: $color-white;
            padding: $padding-small $padding-small 0 $border-width;
            overflow: auto;
        }

        .results-footer {
            margin-top: $margin-default;

            .sync-control {
                display: inline-block;
            }

            .pagination-holder {
                float: right;
                display: inline-flex;
                align-items: center;

                .records-count {
                    display: inline;
                    font-style: italic;
                    font-size: $font-small;
                    color: $color-gray;
                }

                .pagination {
                    margin-left: $margin-small;
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }

        .history-trail {
            grid-row: 3;
        }
    }
}