.translate-result {
    line-height: 1.1;
    min-width: 100%;

    .loading-holder{
        text-align: center;

        .loading-indicator {
            $loader-size: 125px;
            background-image: url("./icons/loader.svg");
            display: block;
            width: $loader-size;
            height: $loader-size;
            background-repeat: no-repeat;
            margin: auto;
        }
    }

    .translate-result-items {
        display: grid;
    }
}