@import "tooltip";
@import "table";
@import "pagination";

body {
    color: $color-font;
}

.focusable:focus {
    @include outline();
    z-index: 100;
}

input {
    cursor: initial;

    &[type="text"],
    &[type="email"],
    &[type="number"] {
        &:disabled {
            background-color: $color-background;
        }
    }

    &[type="number"] {
        padding-right: 0;
    }
}

.form-control {
    padding: 0 $padding-default;
    border-radius: $border-radius;
    line-height: 2;
}

.form-group label {
    margin-bottom: 0;
    line-height: 1;
}