@import "tooltip";
@import "table";

input {
    cursor: initial;
}

.form-control {
    padding: 0 10px;
}

button:disabled {
    opacity: 0.5;
}

.checkbox {
    line-height: 1;
    margin: 0;

    label {
        display: block;

        input[type="checkbox"] {
            position: relative;
            vertical-align: bottom;
        }
    }
}

.link-button {
    font-size: 10px;
    color: $gray;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;

    &:hover{
        color: black;
    }
}