@import "tooltip";
@import "table";
@import "pagination";

body {
    color: $color-font;
}

.focusable:focus {
    box-shadow: 0 0 0 $outline-width $color-outline;
    border-radius: $border-radius;
    outline: none;
    z-index: 100;
}

input {
    cursor: initial;
}

.form-control {
    padding: 0 $padding-default;
}