$color-font: #333;
$color-gray: #777;
$color-light-gray: #aaa;
$color-border: #ddd;
$color-background: #fdfdfd;
$color-black: #000;
$color-white: #fff;
$color-error: #f00;
$color-warning: orange;
$color-star: #ffd66e;
$color-outline: #6db3fd;
$color-selection: #3297FD;

$color-button-primary: #007bff;
$color-button-primary-hovered: #0069d9;

$font-large: 16px;
$font-big: 14px;
$font-medium: 12px;
$font-small: 10px;

$border-radius: 3px;
$border-width: 1px;

$padding-default: 10px;
$padding-small: 5px;
$padding-large: 15px;

$margin-large: 15px;
$margin-default: 10px;
$margin-small: 5px;

$outline-width: 2px;

%box-shadow {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}