.pagination {
    display: inline-block;
    padding-left: 0;
    margin: $margin-default 0;
    border-radius: $border-radius;

    $pagination-color: $color-black;

    > li {
        display: inline;

        > a {
            position: relative;
            float: left;
            padding: $padding-small $padding-default;
            margin-left: -1px;
            color: $pagination-color;
            text-decoration: none;
            background-color: $color-white;
            border: $border-width solid $color-border;
        }

        &:first-child > a {
            margin-left: 0;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child > a {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        > a:hover,
        > a:focus {
            color: $pagination-color;
            background-color: $color-background;
            border-color: $color-border;
        }

        > a:hover {
            z-index: 2;
        }

        > a:focus {
            z-index: 3;
        }
    }

    > .active {
        > a,
        > a:hover,
        > a:focus {
            color: $color-black;
            cursor: default;
            background-color: $color-border;
        }
    }

    > .disabled {
        > a,
        > a:hover,
        > a:focus {
            color: $color-gray;
            cursor: not-allowed;
            background-color: $color-white;
            border-color: $color-border;
            outline: none;
        }
    }
}