.interval-item {
  margin-top: $spacing-small;

  input {
    width: 125px;
    display: block;
  }
}

.form-group {
  margin-bottom: -10px;

  label {
    font-weight: normal;
  }

  .form-control {
    width: 50px;
    display: inline-block;
  }
}
