.settings {
    padding: $padding-default;
    background-color: $color-background;

    .control-button {
        float: right;
        margin-left: $margin-default;
    }

    .loading-settings {
        display: flex;
        justify-content: center;
        font-size: $font-big;
    }
}