.content-holder {
  width: 400px;
  padding: $padding-xl;
}

.error-alert {
  margin: $margin-default $margin-xl 0 $margin-xl;
}

.change-password-footer {
  border-top: $border-width solid $color-border;
  padding: $padding-default;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  .cancel {
    margin-right: $margin-small;
  }
}
