.content-holder {
  width: 400px;
  padding: $spacing-xl;
}

.error-alert {
  margin: $spacing-default $spacing-xl 0 $spacing-xl;
}

.change-password-footer {
  border-top: $border-width solid $color-border;
  padding: $spacing-default;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  .cancel {
    margin-right: $spacing-small;
  }
}
