.toggle-button-wrapper {
    display: inline-flex;

    .toggle-button {
        outline: none;
        width: 100%;
        border: $border-width solid $color-border;
        background-color: $color-white;
        border-radius: $border-radius;
        cursor: pointer;
        padding: $padding-default/2 $padding-default;

        &:hover,
        &:focus-within {
            background-color: $color-background;
        }

        &.active {
            background-color: $color-active;
        }
    }
}