.login-tabs {
    display: flex;
    border-bottom: $border-width solid $color-border;
    padding: $padding-default $padding-default 0 $padding-default;

    .login-tab.active{
        color: $color-black;
        border-bottom: $border-width*2 solid $color-button-primary;
    }

    .login-tab {
        display: inline;
        margin-right: $margin-large;
        cursor: pointer;
        font-size: $font-large;
        color: $color-gray;
        padding-bottom: $padding-default;
    }
}

.login-contents {
    display: flex;

    .login-content:not(.active){
        display: none;
    }

    .login-content {
        width: 100%;
    }

    /deep/ .login-view {
        padding: $padding-default;
    }
    
    /deep/ .form-group {
        label {
            margin-bottom: 0;
            line-height: 1;
        }

        width: 250px;
    }

    .content-holder {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.login-loading-overlay {
    background-image: url("../../../../icons/loader.svg" );
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: $color-white;
    opacity: 0.5;
    background-position: center;
}