.content {
    padding-right: $padding-small;
    padding-top: $padding-small;
    font-size: $font-medium;

    &:not(.is-embedded) {
        padding-left: $padding-large;
    }

    .actions {
        margin-bottom: $margin-default;
        display: flex;

        .action {
            margin-right: $margin-small;
        }

        .offline-status {
            color: $color-gray;
            font-size: $font-small;
        }
    }
}