.password {
    position: relative;

    .reveal-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: $margin-small;
        color: $color-gray;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
            color: $color-black;
        }
    }

    input{
        padding-right: 2 * $padding-default;
    }
}