.password {
    position: relative;

    .reveal-icon {
        position: absolute;
        top: 2.5px;
        right: $margin-small;
        color: $color-gray;
        cursor: pointer;

        &:hover {
            color: $color-black;
        }
    }
}