.category {
    padding-bottom: 10px;
    float: left;
    clear: both;

    .category-header{
        .part-of-speech {
            font-style: italic;
            color: $gray;
        }
    }

    .category-entry {
        white-space: nowrap;
        padding-top: 4px;

        .reverse-translations{
            font-style: italic;
            color: $gray;
            padding-left: 2px;
        }

        .score {
            display: inline-block;
            height: 7px;
            background-color: $light-gray;
            margin-right: 2px;

            &.high {
                width: 24px;
            }

            &.medium {
                width: 16px;
                margin-left: 8px;
            }

            &.low {
                width: 8px;
                margin-left: 16px;
            }
        }
    }

    .expand {
        margin-left: 30px;
        margin-top: 4px;
    }
}
