.merge-candidates {
  min-height: 300px;
  width: 50vw;
  min-width: 600px;
  padding: 0 $padding-xl $padding-default $padding-xl;
  max-height: 80vh;
  overflow: auto;

  &.no-records {
    margin-top: 25px;
  }

  .no-records-available {
    text-align: center;
    color: $color-gray;
  }

  .suggestion,
  .no-translation {
    font-style: italic;
    color: $color-gray;
  }

  .table-header {
    @include ellipsis();
    padding-left: $padding-default;
    padding-right: $padding-default;
  }

  .candidates-view {
    .candidates-view-header {
      height: 30px;
      align-items: center;
      display: flex;

      .records-label {
        font-size: $font-small;
        color: $color-gray;
        margin-left: auto;
      }
    }

    .candidates {
      .candidates-column {
        text-align: center;
      }
    }
  }

  .candidate-view {
    .candidate-view-header {
      padding: $padding-small 0;
      display: inline-block;
    }

    .navigation-button .icon {
      width: 15px;
      height: 15px;
    }

    .candidate-view-controls {
      display: inline-flex;
      float: right;
      padding: $padding-small 0;
      height: 30px;
      align-items: center;

      .navigation-button {
        padding-left: $padding-small;
      }
    }

    .candidate {
      :deep(tr:first-child) {
        text-decoration: underline;
        font-weight: bold;
      }

      .times-column {
        text-align: center;
      }

      .actions-column {
        display: flex;
        justify-content: center;
        column-gap: $padding-small;
        padding: 5px 0;
      }
    }
  }
}

.footer {
  border-top: $border-width solid $color-border;
  padding: $padding-default;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
