.sortable-header {
    position: relative;
    cursor: pointer;
    padding-left: $padding-default;
    padding-right: $padding-default;
    padding-top: 2px;
    padding-bottom: 2px;

    @include ellipsis();

    .icon {
        position: absolute;
        right: 6px;
        color: $color-gray;

        &.icon-up-dir {
            top: -1px;
        }
        &.icon-down-dir {
            top: 5px;
        }

        &.hidden {
            display: none;
        }

        &.active {
            color: $color-black;
        }
    }
}