.hotkey-settings {
    padding: 10px;
    width: 50%;
    min-width: 250px;
    display: inline-block;

    .header {
        position: relative;
        display: table;
        width: 100%;

        .title {
            display: table-cell;
            width: 20%;
            vertical-align: middle;
        }
    
        .command-selector {
            float: right;
            width: 80%;
        }
    }

    .hotkeys-list {
        margin-top: 10px;

        .hotkey-column {
            width: 85%;
        }

        .action-column {
            width: 15%;
            text-align: center;
            padding: 2px 0;

            .remove-hotkey:hover{
                color: red;
                cursor: pointer;
            }
        }
    }

    .hotkey-edit {
        display: inline-block;
        margin-top: 5px;
        width: 100%;
        
        .hotkey-input-control {
            width: 80%;
        }

        .add-hotkey{
            float: right;
            width: 16%
        }
    }
}