.hotkey-settings {
    display: inline-block;
    width: 100%;

    .header {
        width: 100%;
    }

    .hotkeys {
        $action-column-width: 15%;

        .hotkeys-list {
            margin-top: 0;
    
            .hotkey-column {
                width: 85%;
            }
    
            .action-column {
                width: $action-column-width;
                text-align: center;

                .remove-hotkey:hover{
                    color: $color-error;
                    cursor: pointer;
                }
            }

            .no-hotkeys{
                text-align: center;
                color: $color-light-gray;
            }
        }
    
        .hotkey-edit {
            display: inline-block;
            margin-top: $margin-small;
            width: 100%;
            
            .hotkey-input-control {
                width: 80%;
            }

            .add-hotkey{
                float: right;
                width: calc(#{$action-column-width} + #{2*$border-width})
            }
        }

        .global-hotkey-warning {
            font-size: $font-small;
            margin: $margin-small 0;

            .icon::before {
                color: $color-warning;
            }
        }

        .reset-hotkeys {
            margin-top: $margin-default;
        }
    }
}