.hotkey-settings {
    display: inline-block;
    width: 100%;

    $max-width: 400px;

    .header {
        width: 100%;
        
        .command-selector {
            max-width: $max-width;
        }
    }

    .hotkeys {
        max-width: $max-width;
        margin-top: 5px;

        $action-column-width: 15%;

        .hotkeys-list {
            margin-top: 0;
    
            .hotkey-column {
                width: 85%;
            }
    
            .action-column {
                width: $action-column-width;
                text-align: center;
                padding: 2px 0;
    
                .remove-hotkey:hover{
                    color: red;
                    cursor: pointer;
                }
            }

            .no-hotkeys{
                text-align: center;
                color: $light-gray;
            }
        }
    
        .hotkey-edit {
            display: inline-block;
            margin-top: 5px;
            width: 100%;
            
            .hotkey-input-control {
                width: 80%;
            }

            .add-hotkey{
                float: right;
                padding: 1px 6px;
                width: calc(#{$action-column-width} + 1px)
            }
        }

        .global-hotkey-warning {
            font-size: 8px;
            margin-top: 5px;

            .icon::before {
                color: orange;
            }
        }
    }
}