@import '~/css/framework.scss';

.password {
  position: relative;

  .reveal-icon {
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 7px;
    width: 13px;
    height: 12px;
    align-items: center;
  }

  input {
    padding-right: 2 * $spacing-default;
  }
}
