@import '~/css/framework.scss';

.translation {
  line-height: 1.1;
  display: flex;
  flex-direction: column;

  .non-text-translation {
    margin: $spacing-default 25px $spacing-small 25px;
    justify-content: center;
  }
}
