.about {
    padding: $padding-default;
    background-color: $color-background;

    p {
        margin: 5px 0;
    }

    a {
        cursor: pointer;
    }

    .about-title {
        font-size: $font-large;
        font-weight: bold;
    }

    .version-holder {
        display: flex;
        align-items: center;

        .version {
            margin-right: $margin-small;
            font-weight: bold;
        }
    }
}