.history-sync {
    .drop-wrapper {
        position: relative;
        display: inline-flex;

        .sync-indicator {
            background-image: url("../../../icons/loader.svg");
            background-color: rgba(255, 255, 255, 0.6);
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .user-label {
        display: inline-flex;
        font-style: italic;
        font-size: $font-small;
        color: $color-gray;
    }

    .sign-in-stored-user {
        margin-left: 4px;
    }
}
