.scaling-input {
  .slider-holder {
    margin-top: $spacing-small;
  }

  .current-scale-factor {
    font-style: italic;
  }
}

.reset-controls {
  display: flex;
  column-gap: $spacing-small;

  .reset-label {
    font-size: $font-small;
    vertical-align: text-bottom;
  }
}
