body {
    margin: 0;
    line-height: 1.2;
}

.link-button {
    font-size: 10px;
    color: $gray;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;

    &:hover{
        color: black;
    }
}