@import '~/css/framework.scss';

.content {
  padding-right: $spacing-small;
  padding-top: $spacing-small;
  padding-left: $spacing-large;
  font-size: $font-medium;

  .actions {
    margin-bottom: $spacing-default;
    display: flex;

    &.tags-visible {
      margin-bottom: $spacing-small;
    }

    .action {
      margin-right: $spacing-small;
    }

    .not-synced-status {
      color: $color-gray;
      font-size: $font-small;
    }
  }

  .tags {
    margin-bottom: $spacing-default;
  }

  .similar-words {
    color: $color-font;
    margin-bottom: $spacing-small;
    font-style: italic;

    .similar-words-label {
      color: $color-gray;
      font-style: normal;
    }

    .similar-word:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
