@import '~/css/framework.scss';

.drop-item-value {
  padding: $spacing-default 25px $spacing-default $spacing-default;
  outline: none;
  display: flex;
  position: relative;
}

.order-icons {
  position: absolute;
  right: $spacing-small;
  width: 10px;

  .move-up {
    position: absolute;
    top: -3px;
  }

  .move-down {
    position: absolute;
    top: 6px;
  }
}
