.category {
    padding-bottom: $padding-default;
    float: left;
    clear: both;

    .category-header{
        .part-of-speech {
            font-style: italic;
            color: $color-gray;
        }
    }

    $score-unit: 8px;
    $score-margin: 4px;
    $score-hight: 7px;

    .category-entry {
        white-space: nowrap;
        padding-top: $padding-small;

        .reverse-translations {
            font-style: italic;
            color: $color-gray;
        }

        .score {
            display: inline-block;
            height: $score-hight;
            background-color: $color-light-gray;
            margin-right: $score-margin;

            &.high {
                width: $score-unit * 3;
            }

            &.medium {
                width: $score-unit * 2;
                margin-left: $score-unit;
            }

            &.low {
                width: $score-unit;
                margin-left: $score-unit * 2;
            }
        }
    }

    .expand {
        margin-left: $score-unit * 3 + $score-margin;
        margin-top: $padding-small;
    }
}
