.translate-result {
    line-height: 1.1;
    float: left;
    min-width: 100%;

    .no-text-data{
        text-align: center;
        width: 100%;
        font-size: $font-large;
        margin-top: $margin-default;
        font-weight: bold;
    }
}