.header{
    height: 50px;
    padding-left: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(170, 170, 170);
    
    .translation {

    }
    .origin {
        
    }
}
.body{
    .category {
        .category-header{

        }

        .category-entry{

        }

        .reverse-translation{
            
        }
    }
    
}