.translate-result {
  line-height: 1.1;
  min-width: 100%;

  .translate-result-items {
    display: grid;
  }

  .no-results {
    text-align: center;
    width: 100%;
    font-size: $font-large;
    padding-top: $spacing-default;
    font-weight: bold;
  }
}
