.merge-candidates {
    min-height: 300px;
    width: 50vw;
    min-width: 600px;
    padding: 0 $padding-default $padding-default $padding-default;
    max-height: 80vh;
    overflow: auto;

    .no-records-available {
        text-align: center;
        font-style: italic;
    }

    .suggestion,
    .no-translation {
        font-style: italic;
        color: $color-gray;
    }

    .candidates-view {

        .candidates-view-header {
            height: 30px;
            align-items: center;
            display: flex;

            .records-label {
                font-size: $font-small;
                color: $color-gray;
                margin-left: auto;
            }
        }
    
        .candidates {
            .loading-records-indicator {
                height: 50px;
                background-image: url("../../../icons/loader.svg" );
                background-repeat: no-repeat;
                background-size: 30px;
                background-color: $color-white;
                background-position: center;
            }

            tbody tr:hover {
                background-color: $color-active;
            }
    
            .word-column,
            .translation-column {
                width: 30%;
            }
    
            .candidates-column {
                text-align: center;
                width: 10%;
            }
    
            .source-language-column,
            .target-language-column {
                width: 10%;
            }
        }
    }

    .candidate-view {
        .candidate-view-header {
            padding: $padding-small 0;

            .back-button {
                color: $color-gray;

                &:hover {
                    color: $color-black;
                }
            }

            .sentence {
                font-weight: bold;
            }
        }

        .candidate {
            .word-column,
            .translation-column {
                width: 35%;
            }
    
            .times-column {
                width: 10%;
            }
    
            .actions-column {
                width: 20%;
            }
    
            .times-column,
            .actions-column {
                text-align: center;
            }
        }
    }
}

.footer {
    border-top: $border-width solid $color-border;
    padding: $padding-default;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}