.merge-candidates {
    min-height: 300px;
    width: 50vw;
    min-width: 600px;
    padding: 0 $padding-default $padding-default $padding-default;
    max-height: 80vh;
    overflow: auto;

    .no-records-available {
        text-align: center;
        font-style: italic;
    }

    .suggestion,
    .no-translation {
        font-style: italic;
        color: $color-gray;
    }

    .table-header {
        @include ellipsis();
        padding-left: $padding-default;
        padding-right: $padding-default;
    }

    .candidates-view {
        .candidates-view-header {
            height: 30px;
            align-items: center;
            display: flex;

            .records-label {
                font-size: $font-small;
                color: $color-gray;
                margin-left: auto;
            }
        }
    
        .candidates {
            .candidates-column {
                text-align: center;
            }
        }
    }

    .candidate-view {
        .candidate-view-header {
            padding: $padding-small 0;

            .back-button {
                color: $color-gray;

                &:hover {
                    color: $color-black;
                }
            }

            .sentence {
                font-weight: bold;
            }
        }

        .candidate {
            /deep/ tr:first-child {
                color: #777;
                font-weight: bold;
            }

            .times-column,
            .actions-column {
                text-align: center;
            }
        }
    }
}

.footer {
    border-top: $border-width solid $color-border;
    padding: $padding-default;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}