.hotkey-input {
  display: inline-block;
  position: relative;
  width: 100%;

  input {
    min-height: fit-content;
    padding-left: $padding-large;
    font-size: $font-medium;
  }

  .icon {
    position: absolute;
    top: 7px;
    right: 5px;
    color: $color-gray;
    width: 18px;
    height: 18px;
  }
}
