.sortable-header {
  position: relative;
  padding-left: $spacing-default;
  padding-right: $spacing-large;
  padding-top: 2px;
  padding-bottom: 2px;

  &.sortable {
    cursor: pointer;
  }

  .header-name {
    display: block;
    @include ellipsis();
  }

  .icon {
    position: absolute;
    right: 6px;
    color: $color-gray;

    &.sort-asc {
      top: 3px;
    }
    &.sort-desc {
      top: 10px;
    }

    &.hidden {
      display: none;
    }

    &.active {
      color: $color-black;
    }
  }
}
