@import '~/css/framework.scss';

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .login-header {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: $spacing-large 0;
  }

  $login-width: 400px;

  .alert {
    width: $login-width;
    margin-bottom: $spacing-small;
  }

  .login-content {
    position: relative;
    padding: $spacing-xl;
    width: $login-width;
    border: $border-width solid $color-border;
    background-color: $color-background;
    border-radius: $border-radius;
  }
}
