@import '~/css/framework.scss';

.slider-holder {
  display: flex;
  width: 100%;
  align-items: center;

  $slider-height: $spacing-small;

  .range-value {
    line-height: 1;

    &.min-value {
      padding-right: $spacing-small;
    }

    &.max-value {
      padding-left: $spacing-small;
    }
  }

  .slider {
    appearance: none;
    width: 100%;
    height: $slider-height;
    background: #d3d3d3;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: $border-radius;
    box-shadow: none;

    &:hover {
      opacity: 1;
    }

    &:focus-visible {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: $slider-height * 3;
      height: $slider-height * 3;
      background: $color-gray;
      cursor: pointer;
      border-radius: 50%;
    }

    &:focus-visible::-webkit-slider-thumb {
      box-shadow: 0 0 0 $outline-width $color-active;
    }
  }
}
