.app-button {
  display: inline-flex;
  border: $border-width solid $color-border;
  background-color: $color-background;
  border-radius: $border-radius;
  cursor: pointer;
  color: $color-black;
  padding: math.div($spacing-default, 2) $spacing-default;
  justify-content: center;

  &:hover:not(:disabled) {
    background-color: $color-button-hover;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.primary {
    background-color: $color-button-primary;
    color: $color-white;
    border: $border-width solid transparent;

    &:hover:not(:disabled) {
      background-color: $color-button-primary-hovered;
    }

    .icon-holder {
      color: $color-white;
    }
  }

  .icon-holder {
    display: inline-flex;
    height: 21px;
    width: 15px;
    align-items: center;
    color: $color-font;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  @include focus-outline();
}
