.translation {
    line-height: 1.1;

    .no-text-data {
        text-align: center;
        width: 100%;
        font-size: $font-large;
        padding-top: $padding-default;
        font-weight: bold;
    }
}