.slider-holder {
    display: table;
    width: 100%;

    $slider-height: 25px;

    .range-value {
        display: table-cell;
        width: 1%;
        vertical-align: middle;

        &.min-value {
            padding-right: $padding-small;
        }

        &.max-value {
            padding-left: $padding-small;
        }
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: $slider-height;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;
        border-radius: $border-radius;
        display: table-cell;
    
        &:hover {
            opacity: 1;
        }
    
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: $slider-height;
            height: $slider-height;
            background: $color-gray;
            cursor: pointer;
            border-radius: $border-radius;
        }
    }
}

