.toggle-button {
  display: inline-flex;
  outline: none;
  width: 100%;
  border: $border-width solid $color-border;
  background-color: $color-background;
  border-radius: $border-radius;
  cursor: pointer;
  padding: math.div($spacing-default, 2) $spacing-default;
  justify-content: center;

  &:hover {
    background-color: $color-button-hover;
  }

  &.active {
    background-color: $color-active;
    border-color: $color-active;
    color: $color-white;

    &:focus-outline {
      @include focus-outline($color-button-primary);
    }
  }

  @include focus-outline();
}
