@import '~/css/framework.scss';

.history {
  $header-height: 40px;

  padding: 0 $spacing-large 0 $spacing-large;

  .grid-holder {
    display: grid;
    grid-template:
      'header'
      'content';
    grid-template-rows: minmax($header-height, max-content) max-content;
    min-height: 100vh;
    row-gap: $spacing-small;

    &.sidebar-visible {
      grid-template:
        'header sidebar-controls sidebar'
        'content sidebar-controls sidebar';
      grid-template-columns: 1fr $spacing-large 30%;
      grid-template-rows: minmax($header-height, max-content) max-content;
      column-gap: $spacing-small;
    }

    .results-header {
      grid-area: header;
      position: relative;
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      padding-top: $spacing-small;

      .tags {
        grid-column: 1;
        display: inline-flex;
        align-items: center;

        .tags-label {
          font-weight: bold;
          margin-right: $spacing-small;
        }
      }

      .header-controls {
        display: flex;
        align-items: center;
        column-gap: $spacing-small;

        .filter-button .filter-active-icon {
          margin-right: $spacing-small;
          color: $color-button-primary;
        }
      }
    }

    .results-holder {
      grid-area: content;

      .results-footer {
        justify-content: space-between;
        display: flex;
        margin: $spacing-small 0;

        .history-user {
          display: inline-block;
        }

        .pagination-holder {
          display: inline-flex;
        }
      }
    }

    .sidebar {
      grid-area: sidebar;
      background-color: $color-white;
      margin: $spacing-small $spacing-small $spacing-small 0;
      overflow: auto;
      position: relative;
      height: calc(100vh - 2 * $spacing-small);
      border: $border-width solid $color-border;
      border-radius: $border-radius;

      .history-translate-result {
        overflow: auto;
        height: 100%;
        width: 100%;
      }
    }

    .sidebar-controls {
      grid-area: sidebar-controls;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: $color-background;
      margin: $spacing-small 0;
      border-radius: $border-radius;

      &:hover {
        background-color: $color-button-hover;
      }
    }

    .merger-holder {
      grid-row-start: header;
      grid-row-end: contend;
    }
  }
}
