.toggle-button {
  display: inline-flex;
  outline: none;
  width: 100%;
  border: $border-width solid $color-border;
  background-color: $color-background;
  border-radius: $border-radius;
  cursor: pointer;
  padding: math.div($spacing-default, 2) $spacing-default;
  justify-content: center;
  align-items: baseline;

  &:hover {
    background-color: $color-button-hover;
  }

  &.active {
    background-color: #ebecf0;

    @include focus-outline($color-button-primary);
  }

  @include focus-outline();
}
