.main {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;

  $frameless-border-width: 1px;
  $frameless-header-height: 6px;

  &.frameless {
    border: $frameless-border-width solid;
  }

  .scroll-holder {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .frameless-header {
    height: $frameless-header-height;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-app-region: drag;

    & + .scroll-holder {
      height: calc(100% - #{$frameless-header-height});
    }
  }

  .view {
    min-height: 100%;
  }
}

.drag-control {
  $control-size: 20px;

  display: flex;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-content: center;
  cursor: move;
  top: 5px;
  left: 0;
  color: $color-font;
  width: $control-size;
  height: $control-size;
  opacity: 0;

  &:hover {
    opacity: 0.4;
  }
}
