$items-size: 400px;

.settings-holder {
  border-radius: $border-radius;
  border: $border-width solid $color-border;
  width: 100%;
  margin-bottom: $spacing-large;
  overflow: hidden;

  > .settings-title {
    font-size: $font-big;
    background-color: $color-background;
    border-bottom: $border-width solid $color-border;
    padding: $spacing-default;
  }

  > .holder {
    background-color: $color-white;
    min-width: $items-size + $spacing-large;
    padding: $spacing-default;
    display: grid;
  }

  :deep(.settings-separator) {
    border-top: $border-width solid $color-border;
    width: calc(100% + #{2 * $spacing-default});
    margin: $spacing-default #{-$spacing-default};
  }

  :deep(.settings-item) {
    max-width: $items-size;
    display: grid;
  }
}
