$items-size: 400px;

.settings-holder {
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: $margin-default;

    > .settings-title {
        font-size: $font-big;
        margin-bottom: $margin-small;
    }

    > .holder {
        @extend %box-shadow;
        background-color: $color-white;
        border-radius: $border-radius;
        min-width: $items-size + $margin-large;
        padding: $padding-default;
        margin-bottom: $margin-default;
    }

    /deep/ .settings-separator {
        border-top: $border-width solid $color-border;
        width: calc(100% + #{ 2 * $margin-default });
        margin: $margin-default #{-$margin-default};
    }

    /deep/ .settings-item {
        max-width: $items-size;
    }
}