.settings-holder {
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: $margin-default;

    > .header {
        font-size: $font-large;
        padding-left: $margin-default;
        display: block;
        text-transform: uppercase;
        @extend %box-shadow;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;

        .icon {
            cursor: pointer;
            color: $color-light-gray;

            &:hover{
                color: $color-black;
            }
        }

        &.collapsed {
            background-color: $color-white;
            border-radius: $border-radius;
        }
    }

    > .holder {
        @extend %box-shadow;
        background-color: $color-white;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        min-width: 450px;
        padding: $padding-default;
        margin-bottom: $margin-default;
    }
}