.settings-holder {
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 100%;

    .header {
        font-size: 16px;
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
    }

    .holder {
        background-color: #fff;
        min-width: 450px;
        padding: 10px;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
        border-radius: 3px;
    }
}