.validated-field {
    display: inline-block;
    width: 100%;

    .content {
        width: 100%;
    }

    &.error {
        /deep/ input {
            border-color: $color-error;
        }
    }
}