.main {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    $frameless-border-width: 1px;
    $frameless-header-height: 6px;

    &.frameless {
        border: $frameless-border-width solid;
    }
    
    .scroll-holder {
        position: relative;
        width: 100%;
        overflow: auto;
    }

    .frameless-header {
        height: $frameless-header-height;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;
        -webkit-app-region: drag;

        &+.scroll-holder {
            height: calc(100% -  #{$frameless-header-height});
        }
    }
}