.main {
    font-family: Arial, Helvetica, sans-serif;

    $border-width: 1px;
    $header-height: 6px;

    border: $border-width solid;
    height: calc(100vh - 2 * #{$border-width});

    .scroll-holder {
        position: relative;
        width: 100%;
        height: calc(100% -  #{$header-height});
        overflow: auto;
    }

    .header {
        height: $header-height;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;
        -webkit-app-region: drag;
    }
}