.header {
    height: 50px;
    padding-left: $padding-large;
    padding-right: $padding-small;
    padding-top: $padding-small;
    line-height: 20px;
    box-sizing: border-box;
    border-bottom: $border-width solid $color-light-gray;
    white-space: nowrap;

    .translation {
        font-size: $font-large;
    }

    .origin {
        font-size: $font-small;
        color: $color-gray;
        display: inline-block;
        margin-left: 2px;
        outline: none;
        cursor: text;
    }

    .play {
        position: relative;
        top: 0.5px;
        width: 8px;
        height: 8px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        background-image: url("icons/play.svg");

        &:hover{
            background-image: url("icons/play-hovered.svg");
        }
    }

    .header-actions {
        font-size: $font-small;
        color: $color-gray;
        display: inline-block;
    }
}