.icon-wrapper {
    display: inline-flex;

    .icon-holder {
        outline: none;
        line-height: 0;
    }

    &:not(.disabled) .icon-holder :first-child {
        cursor: pointer;
    }

    &.disabled {
        opacity: 0.5;
    }
}