.history-filter-item {
    @extend %box-shadow;
    padding: $padding-default;
    border-radius: $border-radius;

    &.inline-inputs {
        label {
            display: block;
            margin-bottom: $margin-small;
        }

        input {
            width: 100px;
        }

        .validated-field {
            width: auto;
        }
    }

    .tags-filter {
        display: block;
        height: 22px;
    }

    label {
        display: block;
        margin-bottom: $margin-small;
    }

    /deep/ .form-control {
        line-height: 1;
    }

    .date-selector {
        display: grid;
        grid-template-columns: 1fr 25px 1fr;
        align-items: center;
        justify-items: center;
    }
}