$range-spacing: 25px;

.history-filter-item {
    @extend %box-shadow;
    padding: $padding-default;
    line-height: 1;
    border-radius: $border-radius;

    &.range-input {
        display: grid;
        grid-template: 'label label label' 'input . .';
        grid-template-columns: 1fr $range-spacing 1fr;

        label {
            grid-area: label;
        }

        .inputs-wrapper {
            grid-area: 'input';
            display: flex;
            align-items: center;
        }
    }

    .range-separator {
        width: 50px;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: $margin-small;
    }

    /deep/ .form-control {
        line-height: 1;
    }

    .date-selector {
        display: grid;
        grid-template-columns: 1fr $range-spacing 1fr;
        align-items: center;
        justify-items: center;
    }

    .checkbox {
        display: block;

        &:not(:last-child) {
            margin-bottom: $margin-default;
        }
    }
}